body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
dl,
dt,
dd {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-weight: normal;
}
ul {
  list-style: none;
}
img {
  border-style: none;
}
html,
body {
  height: 100%;
}
